<title>Home</title>
<div class="container">
    <h1>Bienvenido</h1><br>
    <a href="/ver_novedades">Ver novedades</a><br>
    <a href="/ver_registracion">registrarte</a><br>
    <a href="/ver_login">logueate</a><br>
</div>
