<h1>Registración</h1>

<form action="/registracion" method="post">
    <label for="usuario">Usuario</label>
    <input type="text" name="usuario" id="usuario"> <br>

    <label for="email">Email</label>
    <input type="text" name="email" id="email"> <br> 

    <label for="password">Password</label>
    <input type="password" name="password" id="password"> <br>

    <button type="submit">Registrarse</button>
</form>