
<!--
<h1>Listado de tareas</h1>

<br />

{{#each listado}}

    {{this.title}} {{this.completed}} <br />

{{/each}}
-->




<h1>Listado de tareas</h1>

<br />

<table>

    <tr>

        <th>Titulo</th>

        <th>Completada</th>

    </tr>

    {{#each listado}}

    <tr>

        <td>{{this.title}}</td>

        <td>

            {{#if this.completed}}

            <strong>X</strong>

            {{/if}}

        </td>

    </tr>

    {{/each}}

</table>


